.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: white;
  padding: 12px 0;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: #333;

  transition: 0.25s;
}

.nav-item svg {
  font-size: 26px;
}

.nav-item span {
  margin-top: 5px;
  font-size: 14px;
}

.nav-item:hover {
  transform: translateY(-3px);
  color: #ff4081;
}
/* Wishlist specific */
.wishlist-item svg {
  color: red;
}

/* Active underline effect */
.wishlist-item.active {
  position: relative;
}

.wishlist-item.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #2196f3;
  border-radius: 2px;
}

/* Hover effect same style */
.wishlist-item:hover svg {
  transform: scale(1.2);
  transition: 0.2s ease;
}